 * {
            box-sizing: border-box;
        }

        body {
            margin: 0;
            overflow: hidden;
            background-color: #282c34;
        }

        #videoContainer {
            height: 100vh;
            width: 100vw;
            overflow: hidden;
        }

        video {
            height: 100%;
            width: 100%;
            transform: scale(1);
        }

        #record,
        #capture {
            border: 3px solid white;
            height: 4rem;
            width: 4rem;
            position: fixed;
            border-radius: 100%;
            right: 0.7rem;
            background-color: #404040;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 1;
        }

        #record {
            bottom: 20rem;
        }

        #record div {
            height: 2.5rem;
            width: 2.5rem;
            border-radius: 100%;
            background-color: red;
        }

        #capture div {
            height: 2.5rem;
            width: 2.5rem;
            border-radius: 100%;
            background-color: white;
        }

        #capture {
            bottom: 14rem;
        }

        .recordAnimation {
            animation: in-out 0.5s infinite;
        }

        @keyframes in-out {
            0% {
                transform: scale(1);
            }

            50% {
                transform: scale(1.1);
            }

            100% {
                transform: scale(1);
            }
        }

        .imgCaptureAnimation {
            animation: click 1s;
        }

        @keyframes click {
            0% {
                transform: scale(1);
            }

            50% {
                transform: scale(1.2);
            }

            100% {
                transform: scale(1);
            }
        }

        .filter-container {
            height: 25rem;
            width: 8rem;
            border: 1px solid white;
            position: fixed;
            left: 4rem;
            top: 9rem;
            z-index: 1;
        }

        .filter-container div {
            background-image: url(http://www.meissl.com/media/images/8f24db1f/schweiz.jpg);
            background-size: cover;
            height: 16.66%;
            width: 100%;
            border: 1px solid white;
        }

        .filter-div {
            z-index: 0;
            height: 100vh;
            width: 100vw;
            position: fixed;
            top: 0;
        }

        .zoom-container {
            height: 7rem;
            width: 4rem;
            position: fixed;
            top: 4rem;
            right: 0.7rem;
            background-color: gray;
            z-index: 1;
        }

        .zoom-in {
            height: 50%;
            width: 100%;
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: bold;
            font-size: 4rem;
        }

        .fa-plus{
            font-size: 2.5rem;
        }

        .zoom-out {
            display: flex;
            justify-content: center;
            align-items: center;
            border-top: 1px solid white;
        }

        .fa-minus {
            color: white;
            font-size: 2.5rem;
            margin-top: 8px;
        }